body {
    width: 20rem;
    height: 15rem;
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
      'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
      sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  
    position: relative;
}
  
code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.app {
    position: absolute;
    top: 0px;
    bottom: 0px;
    left: 0px;
    right: 0px;
    text-align: center;
    height: 100%;
    padding: 10px;
    background-color: #a6e386;
    font-size: 1rem;
}
  
.app-logo {
    height: 50vmin;
    pointer-events: none;
}
  
.app-header {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: #4a4a4a;
    margin-bottom: 1rem;
}
  
.app-link {
    color: #8b7aa7;
    font-weight: 600;
}

.vocabularies-list {
    line-height: 1.5rem;
}

label, h3 {
    color: #4a4a4a;
}